<app-hero
  imageUrl="assets/store3.jpeg"
  title="Sip, Shop, & Support"
  [showFade]="true"
  [showBadge]="false"
  variant="sub">
</app-hero>

<section class="contact-section">
  <div class="contact-header">
    <p class="section-label">Contact</p>
    <h2>Let’s Talk About Your Goals</h2>
  </div>

 <div class="contact-content">
  <!-- LEFT: Contact Form -->
  <form class="contact-form" (submit)="onSubmit()">
    <div class="form-group">
      <input type="text" placeholder="Full Name" [(ngModel)]="name" name="name" required />
    </div>
    <div class="form-group">
      <input type="email" placeholder="Email Address" [(ngModel)]="email" name="email" required />
    </div>
    <div class="form-group">
      <input type="tel" placeholder="Phone" [(ngModel)]="phone" name="phone" />
    </div>
    <div class="form-group">
      <textarea placeholder="How can we help?" [(ngModel)]="message" name="message" rows="5" required></textarea>
    </div>
    <button class="btn primary" type="submit">Send Message</button>
  </form>

  <!-- RIGHT: Contact Info + Map -->
  <div class="contact-info-wrapper">
    <div class="contact-info">
      <h3>Reach Out Directly?</h3>
      <p>Email us at <a href="mailto:shegathersinnt@gmail.com">shegathersinnt&#64;gmail.com    </a></p>
      <p>Or call us: <a href="tel:+16788797278">(716) 247-1583</a></p>
    </div>

    <div #mapWrapper class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3619.512269807052!2d-78.8779145!3d43.022939799999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d36f007a8367b3%3A0xc38e6366a8e02f21!2sShe%20Gathers!5e1!3m2!1sen!2sus!4v1764521889747!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>

</section>
