<app-hero
  [imageUrls]="['assets/gallery/14.jpg']"
  title="Behind the Experience."
  subtitle="We are an exclusive network of women-led businesses, meticulously vetted and united by a shared passion for delivering exceptional, purpose-driven events."
  [showFade]="false"
  [showBadge]="false"
  variant="sub">
</app-hero>

<app-about></app-about>

    <app-banner
          background="assets/gallery/8.jpg"
          title="Built on Trust, Powered by Expertise."
          subtitle="Discover the standards of excellence and commitment to diversity that drives every vendor we select."
          buttonText="Browse Experiences"
          buttonLink="/experiences">
        </app-banner>