<section class="sg-hero" [class.sg-hero--sub]="variant === 'sub'">
  <div class="sg-hero__media">
    @for (url of imageUrls; track $index) {
      <img
        [src]="url"
        [class.active]="$index === currentImageIndex()"
        alt="Hero background image {{ $index + 1 }}"
        decoding="async"
        loading="eager"
      />
    }

    <div class="sg-hero__veil" aria-hidden="true"></div>
    <div class="sg-hero__glow" aria-hidden="true"></div>
    <div class="sg-hero__grain" aria-hidden="true"></div>
    <!-- <div class="sg-hero__fade" aria-hidden="true" *ngIf="showFade"></div> -->
  </div>

  <div class="sg-hero__content">
    <div class="sg-hero__stack">
      <div class="sg-hero__badge" *ngIf="showBadge && variant === 'main'">
        women-led • community-made
      </div>

      <h1 class="sg-hero__title">{{ title }}</h1>

      <div class="sg-hero__divider"></div>

      <p class="sg-hero__sub">{{ subtitle }}</p>

      <div class="sg-hero__actions" *ngIf="primaryCta || (secondaryCta && variant === 'main')">
        <a *ngIf="primaryCta" class="sg-btn sg-btn--solid " [routerLink]="primaryCta.link">
          {{ primaryCta.label }}
        </a>

        <a *ngIf="secondaryCta" class="sg-btn sg-btn--ghost" [routerLink]="secondaryCta.link">
          {{ secondaryCta.label }}
        </a>
      </div>

      <div class="sg-hero__micro" *ngIf="variant === 'main'">
        A space for women-owned businesses to be discovered, supported, and celebrated.
      </div>
    </div>
  </div>
</section>
